body {
  background: #eeeeee;
  font-family: tahoma;
  line-height: 2;
}
button {
  background-color: #ffffff;
  font-weight: bold;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.full {
  margin: 20px;
  background: #ffffff;
  text-align: center;
  font-size: larger;
}
h2 {
  height: 100px;
  padding-top: 50px;
}
.pass {
  background-color: #00ee00;
}
.fail {
  background-color: #ee0000;
}
a {
  display: block;
  width: 100%;
  padding: 10px 0 10px 0;
  font-weight: bold;
  cursor: pointer;
}
i {
  font-size: x-small;
}
