 .u-section-1 {
  background-image: url("images/black-stone-texture-dark-slate-background-top-view_88281-1206.webp");
  background-position: 50% 50%;
  min-height: 803px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 58px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -16px calc(((100% - 1140px) / 2)) 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -39px calc(((100% - 1140px) / 2) + 442px) 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -39px calc(((100% - 1140px) / 2) + 191px) 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-text-2 {
  margin: -1px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 203px auto 0 calc(((100% - 1140px) / 2) + 87px);
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px calc(((100% - 1140px) / 2) + 243px) 0 auto;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 calc(((100% - 1140px) / 2) + 462px);
}

.u-section-1 .u-text-3 {
  margin: 32px calc(((100% - 1140px) / 2) + 462px) 0;
}

.u-section-1 .u-text-4 {
  margin: -130px calc(((100% - 1140px) / 2) + 92px) 0 calc(((100% - 1140px) / 2) + 833px);
}

.u-section-1 .u-text-5 {
  margin: -129px calc(((100% - 1140px) / 2) + 832px) 60px calc(((100% - 1140px) / 2) + 93px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 662px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 72px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -39px;
    margin-right: calc(((100% - 1140px) / 2) + 60px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2) + 476px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 1140px) / 2) + 237px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: calc(((100% - 1140px) / 2) + 72px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 141px;
    margin-left: calc(((100% - 940px) / 2) + -17px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2) + 166px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 940px) / 2) + 363px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-right: calc(((100% - 940px) / 2) + 363px);
    margin-left: calc(((100% - 940px) / 2) + 362px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 725px);
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -120px;
    margin-right: calc(((100% - 940px) / 2) + 723px);
    margin-left: calc(((100% - 940px) / 2) + -17px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 606px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 182px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 90px;
    margin-right: calc(((100% - 720px) / 2) + 41px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -176px;
    margin-right: calc(((100% - 720px) / 2) + 38px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: 31px;
    margin-right: calc(((100% - 720px) / 2) + 11px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -32px;
    margin-left: calc(((100% - 1140px) / 2) + 177px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 146px;
    margin-left: 33px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: auto;
    margin-left: 570px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 291px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 27px;
    margin-right: 314px;
    margin-left: 291px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -129px;
    margin-right: 33px;
    margin-left: 570px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -129px;
    margin-right: 556px;
    margin-left: 39px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 622px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 272px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 91px;
    margin-right: calc(((100% - 540px) / 2) + 5px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -157px;
    margin-right: calc(((100% - 540px) / 2) + 1px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: 18px;
    margin-right: calc(((100% - 540px) / 2) + -26px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -40px;
    margin-right: 301px;
    margin-left: calc(((100% - 1140px) / 2) + 267px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 115px;
    margin-left: 29px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 439px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 224px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-right: 229px;
    margin-left: 224px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -151px;
    margin-right: 28px;
    margin-left: 453px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -151px;
    margin-right: 429px;
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1242px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-left: calc(((100% - 1140px) / 2) + 442px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 238px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 498px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -158px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 494px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: 19px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-1 .u-text-2 {
    width: 205px;
    margin-top: -194px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 468px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 249px;
    margin-left: calc(((100% - 1140px) / 2) + 538px);
  }

  .u-section-1 .u-icon-2 {
    margin-top: 467px;
    margin-left: calc(((100% - 1140px) / 2) + 538px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: -342px;
    margin-left: calc(((100% - 1140px) / 2) + 538px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
    margin-left: calc(((100% - 1140px) / 2) + 463px);
    margin-right: calc(((100% - 1140px) / 2) + 463px);
  }

  .u-section-1 .u-text-4 {
    width: 215px;
    margin-top: 149px;
    margin-left: calc(((100% - 1140px) / 2) + 463px);
    margin-right: calc(((100% - 1140px) / 2) + 463px);
  }

  .u-section-1 .u-text-5 {
    width: 215px;
    margin-top: -659px;
    margin-left: auto;
    margin-right: auto;
  }
}